<style>
  .pagination /deep/ .ngx-pagination {
    padding-left: 0 !important;
  }
</style>

<div class="container">
  <h1>This is home page</h1>
  <div class="row">
    <div class="col-sm-3">
      <app-list-group [propertyData]="propertyData" (filteredData)="getFilteredData($event)"></app-list-group>
    </div>
    <div class="col-sm" *ngIf="configData">
      <app-table [p]="p" [count]="count" [configData]="data"></app-table>
      <pagination-controls
        class="pagination"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
